.git
.gitignore
*.md
.env
.env.*
!.env.example
*.sql
*.dump
test
PCT_frontend/.next
PCT_frontend/node_modules
PCT_frontend/.env*
PCT_backend/vendor
PCT_backend/node_modules
PCT_backend/.env
PCT_backend/storage/logs
PCT_backend/storage/framework/cache
PCT_backend/storage/framework/sessions
PCT_backend/storage/framework/views
PCT_backend/bootstrap/cache
